<div class="{% if type %}uk-alert-{{ type|e }} {% endif %}uk-alert" data-uk-alert>
  {% if closable %}
  <a class="uk-alert-close uk-close" href></a>
  {% endif %}
  {% block messageText %}<p>{{ msg|e }}</p>{% endblock %}
</div>
