{% extends 'Message.twig' %}

{% block messageText %}
<span>Submission will be enabled when all fields have been verified.</span><br /><br />
<div class="uk-container-center uk-width-1-4">
  <div class="uk-progress uk-progress-mini" style="margin-bottom: 5px">
    <div id="password-score" class="uk-progress-bar" style="width: 0%;"></div>
  </div>
</div>
<span class="uk-text-small">Password Strength</span>
{% endblock %}
