{% extends 'Page.twig' %}
{% from 'Message.twig' import message %}
{% block title %}Home{% endblock %}

{% block body %}
{% include 'Menu.twig' %}
<div class='uk-container uk-container-center uk-margin-top'>

  {% include 'modals/NewPubkey.twig' %}
  {{ block('newPubkeyButton') }}

{% if message is not null %}
{{ message(message, true) }}
{% endif %}

  <div class='uk-panel uk-panel-box'>
    <h1>Hello World.</h1>
    <p>This is a test page.  Move along.</p>
  </div>
</div>
{% endblock %}
