<nav class='navbar uk-navbar uk-navbar-attached'>
  <div class='uk-container uk-container-center'>
    <a href='#uk-small-navbar' class='uk-navbar-toggle uk-visible-small' data-uk-offcanvas></a>
    <a class='uk-navbar-brand uk-hidden-small' href='/'>
      <img class='uk-margin uk-margin-remove' src='/img/logo.svg' width='210' height='45' title='pubkey.sh' alt='pubkey.sh' />
    </a>
    <div class='uk-navbar-brand uk-navbar-center uk-visible-small'>
      <a href='/'><img src='/img/logo.svg' width='135' height='45' title='pubkey.sh' alt='pubkey.sh' /></a>
    </div>
    <div class='uk-navbar-flip uk-hidden-small'>
      <ul class='uk-navbar-nav'>

{% block menu %}
USER_VALUE {{ user|e }}
{% for itemPath, item in routes if (not user and item.menu.anon) or (user and item.menu.user) %}
<li{% if itemPath == path %} class='uk-active'{% endif %}><a href='{{ itemPath }}'>{{ item.title|e }}</a></li>
{% endfor %}
{% endblock %}

      </ul>
    </div>
  </div>
</nav>
<div id='uk-small-navbar' class='uk-offcanvas'>
  <div class='uk-offcanvas-bar'>
    <ul class='uk-nav uk-nav-offcanvas uk-nav-parent-icon'>
<li class='uk-nav-header'>Navigation</li>

{{ block('menu') }}

    </ul>
  </div>
</div>
