<div id='{{ block('modalID') }}' class='uk-modal'>
  <div class='uk-modal-dialog'>
    <a class='uk-modal-close uk-close'></a>
    <div class='uk-modal-header'><h2>{% block title %}{% endblock %}</h2></div>
    {% block content %}{% endblock %}
    <div class='uk-modal-footer uk-text-right'>
      {% block footer %}{% endblock %}
    </div>
  </div>
</div>

{% macro modalButton(modalID, buttonTitle) %}
<button class='uk-button' data-uk-modal='{target:"#{{ modalID }}"}'>{{ buttonTitle }}</button>
{% endmacro %}
